.formContainer {
  position: relative;
  width: 210mm;
  height: 297mm;
  background: white;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  transform-origin: top center !important;
  will-change: transform !important;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.formImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.formOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.inputField {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 11pt;
  padding: 0;
  color: rgb(31 41 55);
  transition: background-color 0.2s ease;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: rgb(31 41 55) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

.inputField:autofill {
  background-color: transparent !important;
  color: rgb(31 41 55) !important;
}

.expensesNatureContainer {
  position: absolute;
  top: 244px;
  left: 284px;
  width: 350px;
  z-index: 3;
}

.expensesNature {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 11pt;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 4;
  transition: background-color 0.2s ease;
}

.expensesNature option {
  color: rgb(31 41 55);
  background-color: white;
  font-size: 11pt;
  padding: 8px;
}

.expensesNature:-webkit-autofill,
.expensesNature:-webkit-autofill:hover,
.expensesNature:-webkit-autofill:focus,
.expensesNature:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

.printSelectText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-size: 11pt;
  font-family: inherit;
  color: rgb(31 41 55);
  pointer-events: none;
  z-index: 3;
  padding-top: 2px;
}

.expensesNatureContainer.empty .printSelectText {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.fromEmittingDate {
  text-align: center;
  top: 116px;
  right: 155px;
  width: 150px;
  font-weight: 500;
}

.billNumber {
  top: 296px;
  left: 365px;
  width: calc(100% - 700px);
  text-align: center;
  font-weight: 500;
}

.additionalInput1 {
  top: 321px;
  left: 325px;
  width: calc(100% - 700px);
  text-align: center;
  font-weight: 500;
}

.additionalInput2 {
  top: 346px;
  left: 345px;
  width: calc(100% - 700px);
  text-align: center;
  font-weight: 500;
}

.additionalInput3 {
  top: 371px;
  left: 365px;
  width: calc(100% - 700px);
  text-align: center;
  font-weight: 500;
}

.additionalInput4 {
  top: 396px;
  left: 385px;
  width: calc(100% - 700px);
  text-align: center;
  font-weight: 500;
}

/* New autofill inputs styles */
.autofillInput {
  text-align: center;
  font-weight: 500;
}

.billDateField {
  top: 314px;
  right: 165px;
  width: 80px;
  height: 18px;
  text-align: center;
  font-weight: 500;
}

.leiPayment {
  text-align: center;
  top: 4010px;
  right: 230px;
  width: 100px;
}

.amount {
  text-align: center;
  top: 410px;
  right: 210px;
  width: 122px;
  font-weight: 500;
}

.amountToPlay {
  text-align: center;
  top: 578px;
  right: 267px;
  width: 122px;
  font-weight: 500;
}

.beneficiaryName {
  text-align: center;
  right: 0;
  width: 226px;
  cursor: pointer;
  font-weight: 500;
}

.beneficiaryAddress {
  text-align: center;
  top: 746px;
  left: 160px;
  width: 226px;
  font-weight: 500;
}

.bankNumber {
  text-align: left;
  top: 694px;
  right: 90px;
  width: 184px;
  padding-left: 10px;
  font-weight: 500;
}

.treasuryNumber {
  text-align: left;
  top: 722px;
  right: 90px;
  width: 170px;
  padding-left: 10px;
  font-weight: 500;
}

.bankCodeField {
  text-align: center;
  top: 746px;
  right: 90px;
  width: 207px;
  padding-left: 10px;
  font-weight: 500;
}

.dateSignatureField {
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.compartmentDateField {
  top: 965px;
  left: 400px;
}

.orderPaymentDate {
  text-align: center;
  top: 928px;
  left: 365px;
  width: 125px;
}

.cfppDateField {
  top: 965px;
  right: 100px;
}

.creditorDateField {
  top: 1095px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .formContainer {
    transform: scale(0.9);
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

@media (max-width: 1000px) {
  .formContainer {
    transform: scale(0.8);
    margin-top: -30px;
    margin-bottom: -30px;
  }
}

@media (max-width: 800px) {
  .formContainer {
    transform: scale(0.7);
    margin-top: -45px;
    margin-bottom: -45px;
  }
}

@media (max-width: 700px) {
  .formContainer {
    transform: scale(0.6);
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (max-width: 600px) {
  .formContainer {
    transform: scale(0.5);
    margin-top: -75px;
    margin-bottom: -75px;
  }
}

@media (max-width: 500px) {
  .formContainer {
    transform: scale(0.4);
    margin-top: -90px;
    margin-bottom: -90px;
  }
}

@media (max-width: 400px) {
  .formContainer {
    transform: scale(0.35);
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

@media (max-width: 375px) {
  .formContainer {
    transform: scale(0.3);
    margin-top: -110px;
    margin-bottom: -110px;
  }
}

@media (max-width: 320px) {
  .formContainer {
    transform: scale(0.25);
    margin-top: -120px;
    margin-bottom: -120px;
  }
}

@media (max-width: 768px) {
  .inputField {
    font-size: 12pt;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
  }

  .expensesNature {
    font-size: 12pt;
    padding: 2px 0;
  }

  .expensesNature option {
    padding: 10px;
  }

  .formContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

.mobileView {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: top center;
  padding-bottom: 50px;
}

@media print {
  * {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .formContainer {
    transform: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 210mm !important;
    height: 297mm !important;
  }

  .header,
  .sidebar,
  .action-buttons {
    display: none !important;
  }

  .formContainer {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    background-color: white !important;
    transform: none !important;
    transform-origin: top left !important;
    page-break-after: always !important;
  }

  .imageWrapper {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .formImage {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    object-fit: contain !important;
  }

  .formOverlay {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .inputField,
  .expensesNature {
    display: block !important;
    position: absolute !important;
    background: transparent !important;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 11pt !important;
    border: none !important;
    outline: none !important;
    line-height: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    vertical-align: top !important;
  }

  .expensesNatureContainer {
    position: absolute !important;
    top: 239px !important;
    left: 300px !important;
    width: 340px !important;
    z-index: 3 !important;
  }

  .printSelectText {
    display: block !important;
    color: rgb(31 41 55) !important;
    -webkit-text-fill-color: rgb(31 41 55) !important;
    background: transparent !important;
    z-index: 1001 !important;
  }

  .expensesNature {
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}
