.formContainer {
  position: relative;
  width: 210mm;
  height: 297mm;
  background: white;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.formImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.formOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.inputField {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 11pt;
  padding: 0;
  color: rgb(31 41 55);
  font-weight: 500;
}

.dateField {
  top: 98px;
  right: 85px;
  width: 160px;
  text-align: center;
  font-weight: 500;
}

.shortTextField {
  top: 136px;
  right: 80px;
  width: 250px;
  text-align: center;
  font-weight: 500;
}

.categoryContainer {
  position: absolute;
  top: 264px;
  right: 220px;
  width: 392px;
  z-index: 3;
  font-weight: 500;
}

.categoryDropdown {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 11pt;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 4;
  transition: background-color 0.2s ease;
  text-align: center;
}

.categoryDropdown option {
  color: rgb(31 41 55);
  -webkit-text-fill-color: rgb(31 41 55);
  background-color: white;
  font-size: 11pt;
  padding: 8px;
}

.printSelectText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11pt;
  font-family: inherit;
  color: rgb(31 41 55);
  pointer-events: none;
  z-index: 3;
  text-align: center;
  padding-top: 3px;
}

.numberField {
  top: 198px;
  right: 40px;
  width: 200px;
}

.beneficiaryNameField {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 392px;
  text-align: center;
  z-index: 3;
}

.purposeField {
  top: 317px;
  left: 180px;
  width: calc(100% - 200px);
}

.beneficiaryField {
  top: 352px;
  left: 180px;
  width: calc(100% - 200px);
}

.numericField1 {
  position: absolute;
  top: 518px;
  right: 119px;
  width: 98px;
  height: 29px;
  text-align: center;
  font-size: 11pt;
  z-index: 3;
  font-weight: 500;
}

.numericField2 {
  position: absolute;
  bottom: 463px;
  right: 119px;
  width: 154px;
  height: 21px;
  text-align: center;
  font-size: 11pt;
  z-index: 3;
  font-weight: 500;
}

.proposalTableContainer {
  position: absolute;
  top: 420px;
  left: 40px;
  right: 40px;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  gap: 5px;
}

.proposalTableRow {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 25% 15%;
  gap: 5px;
}

.proposalTableCell {
  position: relative;
  width: 100%;
  height: 25px;
  text-align: center;
  font-size: 10pt;
  border: none;
}

.proposalAmountGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.dateSignatureField {
  width: 100px;
  text-align: center;
}

.proposalDepartmentDateField {
  top: 882px;
  left: 100px;
}

.proposalAccountingDateField {
  top: 882px;
  left: 380px;
}

.proposalCfppDateField {
  top: 882px;
  right: 100px;
}

.proposalCreditorDateField {
  top: 1114px;
  left: 50%;
  transform: translateX(-50%);
}

.mobileView {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: top center;
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .formContainer {
    transform: scale(0.9);
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

@media (max-width: 1000px) {
  .formContainer {
    transform: scale(0.8);
    margin-top: -30px;
    margin-bottom: -30px;
  }
}

@media (max-width: 800px) {
  .formContainer {
    transform: scale(0.7);
    margin-top: -45px;
    margin-bottom: -45px;
  }
}

@media (max-width: 700px) {
  .formContainer {
    transform: scale(0.6);
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (max-width: 600px) {
  .formContainer {
    transform: scale(0.5);
    margin-top: -75px;
    margin-bottom: -75px;
  }
}

@media (max-width: 500px) {
  .formContainer {
    transform: scale(0.4);
    margin-top: -90px;
    margin-bottom: -90px;
  }
}

@media (max-width: 400px) {
  .formContainer {
    transform: scale(0.35);
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

@media (max-width: 375px) {
  .formContainer {
    transform: scale(0.3);
    margin-top: -110px;
    margin-bottom: -110px;
  }
}

@media (max-width: 320px) {
  .formContainer {
    transform: scale(0.25);
    margin-top: -120px;
    margin-bottom: -120px;
  }
}

@media print {
  * {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .formContainer {
    transform: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 210mm !important;
    height: 297mm !important;
  }

  .header,
  .sidebar,
  .action-buttons {
    display: none !important;
  }

  .formContainer {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    background-color: white !important;
    transform: none !important;
    transform-origin: top left !important;
    page-break-after: always !important;
  }

  .imageWrapper {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .formImage {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    object-fit: contain !important;
  }

  .formOverlay {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .inputField,
  .categoryDropdown {
    display: block !important;
    position: absolute !important;
    background: transparent !important;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 11pt !important;
    border: none !important;
    outline: none !important;
    line-height: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    vertical-align: top !important;
    font-weight: 500 !important;
  }

  .printSelectText {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(31 41 55) !important;
    -webkit-text-fill-color: rgb(31 41 55) !important;
    background: transparent !important;
    z-index: 1001 !important;
    text-align: center !important;
    padding-top: 13px !important;
    font-weight: 500 !important;
  }

  .categoryDropdown {
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
  }

  .numericField1,
  .numericField2 {
    background-color: transparent !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print-text-overlay[data-for="numericValue1"],
  .print-text-overlay[data-for="numericValue2"] {
    padding-top: 3px !important;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}
