.burgerButton {
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 50;
  padding: 0.5vh;
  border-radius: 50%;
  background-color: rgb(30 41 59);
  color: white;
  transition: background-color 200ms;
  width: 4vh;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerButton:hover {
  background-color: rgb(51 65 85);
}

.burgerButton:focus {
  outline: none;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 16vw;
  min-width: 200px;
  background-color: rgb(30 41 59);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  padding-top: 1vh;
  z-index: 45;
}

.navOpen {
  transform: translateX(0);
}

/* User section styles */
.userSection {
  display: flex;
  align-items: center;
  gap: 0.75vh;
  padding: 1.5vh;
  padding-top: 3vh;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}

.userIcon img {
  height: 5vh;
}

.username {
  color: white;
  font-size: 1.5vh;
  font-weight: 500;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.5vh 1.5vh 1vh;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  padding: 0 1.5vh;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.75vh;
  font-size: 1.5vh;
  color: white;
  transition: all 200ms;
  width: 100%;
  padding: 0.75vh;
  border-radius: 0.375vh;
  text-decoration: none;
}

.navLink:hover {
  color: rgb(203 213 225);
  background-color: rgba(255, 255, 255, 0.1);
}

.navLink.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 500;
}

.navIcon {
  width: 1.25vh;
  height: 1.25vh;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

@media print {
  .burgerButton,
  .nav,
  .overlay {
    display: none;
  }
}
