.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e6f2ff;
  overflow: hidden;
  position: relative;
  margin-left: 64px;
  padding-left: 0;
}

.main {
  flex: 1;
  width: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  height: 100vh;
}

.formContainer {
  position: relative;
  width: 210mm;
  height: auto;
  margin: 0 auto;
  transform-origin: top center;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main::after {
  content: "";
  display: block;
  height: 100px;
}

@media print {
  .container {
    margin-left: 0 !important;
    height: auto !important;
    background-color: white !important;
    overflow: visible !important;
    position: static !important;
  }

  .main {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    display: block !important;
  }

  .formContainer {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 210mm !important;
    height: 297mm !important;
    transform: scale(1) !important;
    transform-origin: top left !important;
  }
}

body.printing .formContainer {
  transform: scale(1) !important;
  margin: 0 !important;
  padding: 0 !important;
}
